:root {
  /* Colors */
  --white: #ffffff ;
  --black: #000000;

  --gray: hsl(197, 4%, 32%);
  --gray-dark: #333;
  --gray-light: #FAFAFA;

  --blue: #2C7EF8;
  --blue-dark: #252F3D;

  --green: #59AE43;
  --green-badge: #85BF55;
  --green-dark: #5BB59A;

  /* border */
  --border-card: 10px;

  /* padding */
  --padding-x-lg: 127px;
  --padding-x-md: 60px;
  --padding-x-sx: 20px;
}

html, body{
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--white);
  overflow-x: hidden;
}