.layoutApp{
  padding: 10px var(--padding-x-lg);
}
@media only screen and (max-width: 768px) {
  .layoutApp {
    padding: 10px var(--padding-x-sx);
  }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .layoutApp {
    padding: 10px var(--padding-x-sx);
  }
}