.cardProduct{
  padding: 40px;
  flex-direction: row;
}
.content{
  width: 49%;
}

.productImage{
  object-fit: contain;
  width: 100%;
  height: auto;
}

.infoContent{
  align-items: flex-start;
  gap: 32px;
}

.btnDiscount{
  background-color: var(--green);
  color: var(--white);
  border-radius: 50px;
  padding: 16px 64px;
}

.btnDiscount:hover{
  background-color: var(--green-badge);
}

.btnNoThanks{
  color: var(--red);
  text-decoration: underline;
  font-size: 18px;
}

.btnNoThanks:hover{
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {

}
