.userCard{
  margin-top: 1rem;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  border-radius: var(--border-card);
  background: var(--white);
}

.userPhoto{
  width: 48px;
  height: 48px;
}

.userName{
  color: var(--grey-dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.userVerification{
  color: var(--green-dark);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.comment{
  color: var(--grey-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}


@media only screen and (max-width: 768px) {
  .userCard{
    display: none;
  }
  
}
